<!-- <nb-card> -->
  <!-- <nb-card-body> -->
  Table : 
  <table id='tblNavigator' class="table">
<thead>
  <tr>
	<th>Name</th>
	<!-- <th>Period</th> -->
	<!-- <th>*</th> -->
	<!-- <th>Performance</th> -->
	<!-- <th>Trend</th> -->
  </tr>
</thead>
<tbody>
  <!-- <tr> -->
	<!-- <td><img src="http://qprdemo.iycon.biz/QPR2017-1/qprsoftware//Common/GeneratedImages/SC_ICON_1938773693__8_806347552.gif" title="Strategic Objective"><span style="cursor:pointer;" onclick="javascript:__doPostBack('formTable','Select$2')" elid="1_0_1938773693_419035470" eltype="Strategic Objective" elname="Growth" pelid="1_0_1938773693_1158872286" peltype="Top Element" pelname="Dentorex Group">Growth </span></td> -->
	<!-- <td>Q4 / 2017</td> -->
	<!-- <td><img src="images/yellow.png" title="Average"></td> -->
	<!-- <td>Average</td> -->
	<!-- <td><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" title="Descending" style="color:red"></span></td> -->
  <!-- </tr> -->
  <!-- <tr> -->
	<!-- <td><img src="http://qprdemo.iycon.biz/QPR2017-1/qprsoftware//Common/GeneratedImages/SC_ICON_1938773693__8_806347552.gif" title="Strategic Objective" ><span style="cursor:pointer;" onclick="javascript:__doPostBack('formTable','Select$3')" elid="1_0_1938773693_359147141" eltype="Strategic Objective" elname="Profitability" pelid="1_0_1938773693_1158872286" peltype="Top Element" pelname="Dentorex Group">Profitability </span></td><td>Q4 / 2017</td><td><img src="images/yellow.png" title="Average"></td><td>Average</td><td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true" title="Constant"></span></td> -->
  <!-- </tr> -->
</tbody>
</table>
    <!-- <div class="action-groups-header"> -->
      <!-- Action Groups -->
    <!-- </div> -->
    <!-- <nb-actions size="medium"> -->
      <!-- <nb-action icon="nb-menu"></nb-action> -->
      <!-- <nb-action icon="nb-search"></nb-action> -->
      <!-- <nb-action icon="nb-email"></nb-action> -->
      <!-- <nb-action disabled icon="nb-notifications"></nb-action> -->
      <!-- <nb-action> -->
        <!-- <nb-user name="Han Solo"></nb-user> -->
      <!-- </nb-action> -->
      <!-- <nb-action icon="nb-gear"></nb-action> -->
    <!-- </nb-actions> -->
  <!-- </nb-card-body> -->
<!-- </nb-card> -->
