<nb-card>
  <nb-card-body>
	  <div class="row">
	  <div class="col-lg-3">
		  <ngx-scorecards></ngx-scorecards>
	 </div>
	   <div class="col-lg-3">
		<ngx-period></ngx-period>
	 </div>
	 </div> 
   </nb-card-body>
</nb-card>
<!-- <nb-card> -->
  <!-- <nb-card-body> -->
<!-- <div class="row"> -->
  <!-- <div class="col-lg-12"> -->
	<!-- <ngx-elements></ngx-elements>   -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
  <!-- <div class="col-lg-12"> -->
	<!-- <ngx-filteroption></ngx-filteroption>   -->
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="row"> -->
  <!-- <div class="col-lg-6"> -->
  	<!-- <ngx-series></ngx-series> -->
  <!-- </div> -->
  <!-- <div class="col-lg-6"> -->
	<!-- <ngx-elementtype></ngx-elementtype>   -->
  <!-- </div>   -->
<!-- </div> -->
<!-- <div class="row">   -->
  <!-- <div class="col-lg-6"> -->
	<!-- <button class="btn btn-sm" title="Show Table" (click)="SaveTable();"><i class="fa fa-table fa-sm"></i></button> -->
  <!-- </div> -->
<!-- </div>   -->
   <!-- </nb-card-body> -->
<!-- </nb-card> -->
<nb-card>
  <nb-card-body>
<div class="row">  
  <div class="col-lg-12">
	<button class="btn btn-sm" style="float:right" title="Edit View" (click)="openDesignConfig();"><i class="fa fa-table fa-sm"></i></button>
  </div>
</div>    
<div class="row">
  <div class="col-lg-12">
	<ngx-navtable></ngx-navtable>
  </div>
</div>
   </nb-card-body>
</nb-card>