<div class="row">
			<div class="col-lg-4">
			<div class="form-group input-group-border-only">
				<label>Select Expand Level</label>			
				<select id="drpExpandLevel" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="100">Expand All</option>
				</select>
			</div>			
			</div>
			<div class="col-lg-4">
			<div class="form-group input-group-border-only">			
				<label>Show Reffered Elements</label>				
				<select id="drpShowReffered" class="form-control">
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
			</div>
			<div class="col-lg-4">
			<div class="form-group input-group-border-only">
				<label>Filter Type</label>:
				<select id="drpFilterType" class="form-control">
					<option value="1">Show selected element types</option>
					<option value="0">Hide selected element types</option>
				</select>
				</div>
			</div>
</div>			